{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <header>
        <h2>운동하기</h2>
    </header>
    <nav></nav>
    <main style="border: solid black 1px;">
        <button id="btn_start">운동시작</button>
        <button id="btn_pause">운동일시정지</button>
        <button id="btn_resume">운동재시작</button>
        <button id="btn_stop">운동종료</button>
        <div id="countdownContainer" style="display:none;position:fixed;top:50%;left:50%;width:30%;transform: translate(-50%, -50%);background-color: rgba(255, 255, 255, 0.8);;border:2px solid black;padding:20px;font-size:48px;text-align:center;">
            <span id="countdown" ></span>
        </div>
        <!-- 로딩 관련 부분(임시) - 수정해도 ok -->
        <img  id="loading" src="/static/img/loading.png" style="display:none;position:fixed;top:50%;left:50%;width:30%;transform: translate(-50%, -50%);">

        <div style="display: flex;width:100%">
            <div style="flex:1;">
                <video id="video_user" width="100%" autoplay></video>
            </div>
            <div style="flex:1;text-align:center;">
                <video id="video_professor" src={{video_path}} width="100%"muted></video>
            </div>
        </div>
        <video id="video_record" controls></video>
    </main>
    <footer>
        <h3>하단</h3>
    </footer>
    <script src="/static/js/health_do_cam.js"></script>
</body>
</html>