{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <!-- https://theus.github.io/chart.css/ -->
    <!-- Downloaded chart.css -->
    <link rel="stylesheet" href="chart.css">
    <!-- RawGit CDN chart.css -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/theus/chart.css/v1.0.0/dist/chart.css" />
</head>
<body>
    <header>
    </header>
    <nav></nav>
    <main>
        <h2 style="text-align: center;">결과 보고서</h2>
        <div style="border:1px solid black;padding:30px">
            <h4>
                분석 결과, ㅁㅁ님은 {{bad}} 운동이 부족한 것 같습니다.
            </h4>
            <div>
                <h4>그래프</h4>            
                <div class="charts"><!-- /.charts -->
                    <span>팔</span>
                    <div class="charts__chart chart--p{{bad_percent.arm}}" data-percent></div>
                    <span>팔꿈치</span>
                    <div class="charts__chart chart--p{{bad_percent.elbow}}" data-percent></div>
                    <span>허리</span>
                    <div class="charts__chart chart--p{{bad_percent.waist}}" data-percent></div>
                    <span>다리</span>
                    <div class="charts__chart chart--p{{bad_percent.leg}}" data-percent></div>
                    <span>발목</span>
                    <div class="charts__chart chart--p{{bad_percent.knee}}" data-percent></div>
                </div>
            </div>
            <h4>정확하게 따라하지 못한 부분입니다:</h4>
            <div>
                <img style="display:inline-block" src="{% static 'health_do/user_images/{{bad_img}}.jpg' %}" width="30%">
                <img style="display:inline-block" src="{% static 'health_do/user_images/{{bad_img_rec}}.jpg' %}" width="30%">
            </div>
            <h4>분석을 바탕으로 운동을 추천해 드리겠습니다.</h4>
            <h3>콘텐츠 기반 추천: {{rec_cont}}</h3>
            <h3>협업필터링 기반 추천: {{rec_coll}}</h3>
            <a href="/health_do/training/?videoId={{rec_cont_videoId}}"><img src="{% static 'health_do/thumnails/{{rec_cont}}.jpg' %}" width="30%"></a>
            <a href="/health_do/training/?videoId={{rec_coll_videoId}}"><img src="{% static 'health_do/thumnails/{{rec_coll}}.jpg' %}" width="30%"></a>
        </div>
        
    </main>
</body>
</html>