.page_title {
    font-size: 65px;
    color: white;
    position: relative; /* h1 태그의 위치를 조정하기 위해 상대 위치 속성을 사용합니다 */
    text-align: center; /* h1 태그의 수평 정렬을 설정합니다 */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백(margin)을 auto로 설정합니다 */
    font-family: 'Jua', sans-serif;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    margin-bottom: 30px;
}

.title_box {
    background-color: #48AAE1;
    position: relative;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.explain {
    font-family: 'Gamja Flower', cursive;
    color: white;
    font-size: 25px;
}

.imgs_container {
    width: 1050px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}

.img_box {
    width: 320px;
    text-align: center;
    background-color: #C8ECFF;
    border-radius: 10px;
}

img {
    width: 320px;
    height: 180px;
}

label {
    font-family: 'Gamja Flower', cursive;
    font-size: 20px;
    color: #48AAE1;
}

a {
        text-decoration-line: none
}