.page_title {
    font-size: 60px;
    color: white;
    position: relative; /* h1 태그의 위치를 조정하기 위해 상대 위치 속성을 사용합니다 */
    text-align: center; /* h1 태그의 수평 정렬을 설정합니다 */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백(margin)을 auto로 설정합니다 */
    font-family: 'Jua', sans-serif;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    margin-bottom: 5px;
}
.title_box {
    background-color: #48AAE1;
    position: relative;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.explain {
    font-family: 'Gamja Flower', cursive;
    color: white;
    font-size: 24px;
}
.font_style {
    font-family: 'Gamja Flower', cursive;
    color: black;
    font-size: 20px;
    text-align: center;
}

.btn {
  position: relative;
  width: 200px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  transition: all 0.2s ;
  display :inline-block;
}

.btnBlue {
   background: #3C89FF;
}

.btnBlue:hover {
  background: #1A58B7;
}

.btnGray {
   background: #646F82;
}

.btnGray:hover {
  background: #455060;
}

.btns_grid {
    width: 400px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
}

.video_box {
    border-radius: 10px;
    background: black;
}
.video_style {
    border-radius: 10px;
    border: 1px solid white;
}
.report_box {
    border-radius: 10px;
    border: 1px solid #48AAE1;
    padding: 30px;
    text-align: center;
}
.report_txt {
    font-family: 'Gamja Flower', cursive;
    color: black;
    font-size: 24px;
}

.graph_title {
    text-align: center;
    background-color: #48AAE1;
    color: white;
    border-radius: 5px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    margin-bottom: 20px;
}

.recommending {
    width: 70%;
    text-align: center;
    font-family: 'Gamja Flower', cursive;
    color: black;
    font-size: 20px;
    margin: 0 auto;

}
