<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<!--    <link rel="stylesheet" href='../../static/main/style.css'>-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>나의 코치, 나</title>
</head>
<body class="main_body">
<h1 class="main_title">나의 코치, 나</h1>
<div class="main_container">
    <input type=button class="btn btnBlue" onClick="parent.location='login/'" value="로그인">
    <input type=button class="btn btnGray" onClick="parent.location='signup/'" value="회원가입">
</div>
</body>
</html>