<!DOCTYPE html>
<html lang="ko">
<head>
    <!--link rel="stylesheet" href="{% static 'polls/style.css' %}"-->
    <link rel="stylesheet" href='../../static/main/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>나의 코치, 나 회원가입</title>
</head>
<body class="main_body">
<h1 class="page_title">회원가입</h1>
</body>
</html>