<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
<!--    <link rel="stylesheet" href="{% static 'polls/style.css' %}">-->
<!--    <link rel="stylesheet" href='../../static/main/style.css'>-->
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>나의 코치, 나 회원가입</title>
</head>
<body class="main_body">
<h1 class="page_title">나의 코치, 나</h1>
<div class="container">
        <form method="POST">
            {% csrf_token %}
            <label for="username" class="text">아이디:</label>
            <input name="username" type="text" value="" class="text input_box">
            <br>
            <label for="password1" class="text">비밀번호:</label>
            <input name="password1" type="password" value="" class="text input_box">
            <br>
            <label for="password2" class="text">비밀번호 확인:</label>
            <input name="password2" type="password" value="" class="text input_box">
            <br>
            <label for="birth_year" class="text">태어난 연도:</label>
            <input name="birth_year" type="number" value="2000" class="text input_box">
            <br>
            <label for="height" class="text">키:</label>
            <input name="height" type="number" step="0.01" value="150" class="text input_box">
            <br>
            <label for="weight" class="text">몸무게:</label>
            <input name="weight" type="number" step="0.01" value="50" class="text input_box">
            <br>
            <label for="exercise_area" class="text">부족한 운동 부위:</label>
            <br>
            <input type="checkbox" name="exercise_area" value="arm"> <label for="username" class="text" style="font-size: 22px;">팔꿈치 위 팔</label>
            <br>
            <input type="checkbox" name="exercise_area" value="elbow"> <label for="username" class="text" style="font-size: 22px;">팔꿈치 아래 팔</label>
            <br>
            <input type="checkbox" name="exercise_area" value="waist"> <label for="username" class="text" style="font-size: 22px;">허리</label>
            <br>
            <input type="checkbox" name="exercise_area" value="leg"> <label for="username" class="text" style="font-size: 22px;">허벅지</label>
            <br>
            <input type="checkbox" name="exercise_area" value="knee"> <label for="username" class="text" style="font-size: 22px;">종아리</label>
            <br>
            <br>
            <input class="btn btnGray" type="submit" value="회원가입">
        </form>
    </div>
</body>
</html>