{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <header>
        <h2>운동하기</h2>
    </header>
    <nav></nav>
    <main style="border: solid black 1px;">
        <button id="btn_start">녹화시작</button>
        <button id="btn_stop">녹화종료</button>
        <div style="display: flex;width:100%">
            <div style="flex:1;">
                <video id="video_user" width="100%" autoplay></video>
            </div>
            <div style="flex:1;text-align:center;">
                <video src="/static/media/부메랑.mp4" width="100%" autoplay></video>
            </div>
        </div>
        <video id="video_record" controls></video>
        <script>
            /*참고블로그: https://curryyou.tistory.com/447*/
            const $video_user = document.querySelector("#video_user");
            const $video_record = document.querySelector("#video_record");
            const $btn_start = document.querySelector('#btn_start');
            const $btn_stop = document.querySelector('#btn_stop');

            const arrVideoData = [];
            
            // 시작 버튼 이벤트 처리
            $btn_start.onclick = async function(event) {
                
                console.log("녹화시작")
                // 카메라 입력영상 스트림 생성
                const mediaStream = await navigator.mediaDevices.getUserMedia({
                    video: true
                });

                // 실시간 영상 재생 처리: 첫번째 video태그에서 재생
                $video_user.srcObject = mediaStream;
                $video_user.onloadedmetadata = (event)=>{
                    $video_user.play();
                }

                // mediaRecorder객체(녹화기) 생성
                mediaRecorder = new MediaRecorder(mediaStream);


                // 녹화 데이터 입력 이벤트 처리
                mediaRecorder.ondataavailable = (event)=>{
                    // 녹화 데이터(Blob)가 들어올 때마다 배열에 담아두기
                    arrVideoData.push(event.data);
                }


                // 녹화 종료 이벤트 처리
                mediaRecorder.onstop = (event)=>{
                    // 배열에 담아둔 녹화 데이터들을 통합한 Blob객체 생성
                    const videoBlob = new Blob(arrVideoData);

                    let filename = "test.mp4";
                    const file = new File([videoBlob],filename);
                    console.log(videoBlob)

                    // BlobURL(ObjectURL) 생성
                    const blobURL = window.URL.createObjectURL(videoBlob);
                    
                    // 녹화된 영상 재생: 두번째 video태그에서 재생
                    $video_record.src = blobURL;
                    $video_record.play();
                    
                    // 기존 녹화 데이터 제거
                    arrVideoData.splice(0);
                    
                }

                // 녹화 시작!
                mediaRecorder.start();
            }

            // 녹화 종료 이벤트
            $btn_stop.onclick = (event)=>{
                console.log("녹화종료")
                mediaRecorder.stop();
            }

        </script>
    </main>
    <footer>
        <h3>하단</h3>
    </footer>
</body>
</html>